/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100vw;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.content-jumbotron { 
    height: 100%;
    width: 80%;
    margin: auto;
}

.content {
    height: 100%;
    width: 70%;

    margin: auto;
}

.content-team {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-width: thin;
    margin: auto;
}


/* header rules */
header {
    height: 60px;
    width: 100vw;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

nav {
    height: 70px; 
    width: 100vw;
}

nav ul li {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 5px;
    font-size: 10px;
    vertical-align: middle;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a img {
    height: 20px;
    margin-top: -8px;
}

#menu-left {
    width: 50%;
    text-align: left;
    float: left;
}

#menu-right {
    width: 50%;
    text-align: right;
    float: right;
    padding: 0;
}

.button {
    background-color: blue;
    color: white;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
}

/* main rules */

/* JUMBO */

#jumbotron {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 3% 0;
    height: 450px;
    background-color: #b8cde6;
}

.content-jumbotron h1 {
    position: relative;
    margin: 2% 0;
    font-weight 800;
    font-size: 50px;
}

#jumbotron-text {
    height: 70%;
    width: 35%;
    margin: 3% 0;
    font-size: 12px;
    line-height: 20px;
}

.content-jumbotron img {
    margin-top: 10px;
    float: right;
    height: 75%;
}

#annulla {
    margin: 12px 0;
}



/* PIANI */

#piano-business {
    min-height: 500px; 
}

#piano-header {
    min-height: 50px;
    margin: 20px 0;
    padding: 5% 0;
    float: top;
}

#piano-header h2 {
    font-weight: 400;
    margin: 0 0 20px 0;
}

input {
    font-size: 6px;
}

.col-left {
    width: 30%;
    margin: 0 5% 0 0;
    float: left;
    background-color: white;
    border-width: thin;
    border-style: solid;
    font-size: 8px;
}

.col-middle {
    width: 30%;
    margin: 0 5% 0 0;
    float: left;
    background-color: white;
    border-width: thin;
    border-style: solid;
    
}

.col-right {
    width: 30%;
    margin: 0;
    float: left;
    background-color: white;
    border-width: thin;
    border-style: solid;
}

.plan-type-container {
    border: none;
}

.plan-type {
    line-height: 20px;
    font-size: 10px;
    text-align: center;
}

hr {
    width: 100%;
    color: black;
    height: 1px;
}

.plan-details-container {
    padding: 5%; 
}

.plan-details-container ul {
    list-style-type: none;
}

#piano-footer {
    min-height: 50px;
    margin: 2% 0;
}



#trova-partner {
    min-height: 300px;
    background-color: lightgreen;
}

/* gallery rules */
#gallery {
    min-height: 600px;
    background-color: white;
}

#gallery-header {
    width: 100%;
}

.info-card {
    min-height: 200px;
    width: 31%;
    margin: 1%;
    padding: .5%;
    float: left;
    overflow: none;
    background-color: purple;
    border-style:ridge;
}

#standalone-text {
    min-height: 150px;
    background-color: burlywood;
}

/* TEAM LIST */

#team-list {
    min-height: 300px;
    background-color: grey;
}

.col-side {
    width: 30vw;
    height: 30vw;
    float: left;
}

.client {
    width: 50%;
    height: 50%;
    background-color: red;
    border-color: blue;
    border-style: solid;
    float: left;
}

.col-center {
    width: calc(100% - 60vw);
    height: 30vw;
    background-color: grey;
    float: left;
}

#prova-gratuita {
    min-height: 150px;
    background-color: burlywood;
}

#faq {
    height: 300px;
    background-color: coral;
}

/* FOOTER */

footer {
    min-height: 250px;
    padding: 5% 12.5%;   
    background-color: black;
}

.footer-menu {
    min-height: 100px;
    background-color: white;
    color: white;
    width: 11vw;
    float: left;
    margin: 0 2vw;
    z-index: 99;

}



